*{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
body{
    background-image: url("https://pics.craiyon.com/2023-10-30/0765d4105f6a432bb7d9fc6852329cdf.webp");
    background-size: cover;
    background-repeat: no-repeat;
    
}